.container_contacts {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  height: 100vh;
  padding: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/041/725/original/motion-of-opened-book-on-desk-static-shot-free-video.jpg);
  color: white;
  background-color: #dbd0b36a;
}
