.section {
  padding: 100px 100px;
  text-align: center;
}
.section_color {
  background-color: #dbd0b36a;
  padding: 70px 100px;
}
.section_title {
  font-size: 30px;
  margin: 0 0 60px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}
