@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans Caption", sans-serif;
  scroll-behavior: smooth;
}
ul,
ol,
li,
a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}
