.navbar {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dbd0b36a;
}
.navbar__logo {
  width: 140px;
  cursor: pointer;
}
.navbar__links {
  display: flex;
  gap: 20px;
  margin: 10px 0 0 0;
  font-size: 20px;
}
.navbar__link {
  cursor: pointer;
  transition: 500ms;
}
.navbar__link:hover,
a:hover {
  transform: scale(1.1);
  color: #59512f;
  cursor: pointer;
}
.burger_menu {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #dbd0b3;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  position: fixed;
}
.sidebar__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}
.burger_menu_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger_menu_triger {
  transition: 1000ms;
  cursor: pointer;
}
.burger_menu_triger:hover {
  transform: scale(1.3);
}
